@font-face {
  font-family: "Bobby Jones";
  src: url("/public/fonts/Bobby Jones Soft.otf");
}

body {
  margin: 0;
  font-family: "Bobby Jones", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}